@use "../utilities/variables";

.site-header {
    position: relative;
    padding: 0 1rem;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    &__branding {
        img {
            height: 80px;
        }
    }

    &__nav {
        padding: 1rem;
        display: none;
    }

    &__navlink {
        margin-bottom: 0.5rem;
    }

    &__menu-btn {
        position: absolute;
        top: 25px;
        right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        cursor: pointer;
        border: 3px solid variables.$high-contrast;
        border-radius: 5px;
    }

    &__menu-btn.open .site-header__hamburger {
        background: transparent;

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }

    &__hamburger {
        width: 22px;
        height: 3px;
        background: variables.$high-contrast;
        transition: all 400ms ease-in-out;

        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 22px;
            height: 3px;
            background: variables.$high-contrast;
            transition: all 300ms ease-in-out;
        }

        &::before {
            transform: translateY(-7px);
        }

        &::after {
            transform: translateY(7px);
        }
    }
}

@media screen and (min-width: 768px) {
    .site-header {
        padding: 0.5rem 2.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &__nav {
            padding: 0;
            display: flex;
            flex-direction: row;
        }

        &__navlink {
            margin-left: 1rem;
            margin-bottom: 0;
            transition: color 250ms;

            &:hover {
                color: variables.$primary-500;
            }
        }

        &__menu-btn {
            display: none;
        }
    }
}

@media screen and (min-width: 1200px) {
    .site-header {
        &__navlink {
            margin-left: 2rem;
        }
    }
}

.show-menu {
    display: flex;
    flex-direction: column;
}
