@use "../utilities/variables";

.page-heading {
    position: relative;
    margin: 1.5rem auto;
    padding: 2.5rem 1rem;
    width: 100%;
    max-width: 800px;

    &::before {
        position: absolute;
        content: "";
        top: 30px;
        left: 0;
        height: 80%;
        width: 100%;
        background-color: variables.$primary-900;
        z-index: -1;
        transform: skewY(-4deg);
    }

    &__image {
        position: absolute;
        display: inline-block;
        content: "";
        width: 70px;
        height: 70px;
        top: -25px;
        left: -10px;
    }

    &__title {
        font-size: calc(2em + 1vw);
        color: variables.$high-contrast;
    }

    &__subtitle {
        font-family: variables.$sans-serif;
        color: variables.$low-contrast;
    }
}

@media screen and (min-width: 500px) {
    .page-heading {
        margin: 3rem auto 1rem;
        padding: 3rem 2rem;

        &::before {
            border-radius: 10px;
            transform: skew(-7deg, -3deg);
        }

        &__image {
            left: -25px;
            top: -15px;
        }

        &__subtitle {
            font-size: 1.2em;
        }
    }
}
