@use "../utilities/variables";

.post-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
    gap: 1.75rem;
    margin: 2rem auto;
    width: 90%;
    max-width: 1350px;
}
