@use "variables";

.badge {
    padding: 0.2em 0.7em;
    display: inline-block;
    font-family: variables.$sans-serif;
    font-size: 0.8em;
    color: variables.$primary-700;
    background-color: variables.$high-contrast;
    border-radius: 0.2em;
}
