@use "../utilities/variables";

h1,
h2,
h3,
h4 {
    font-family: variables.$sans-serif;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.25em;
}

h3 {
    font-size: 1.875em;
}

h4 {
    font-size: 1.5em;
}

p {
    font-family: variables.$serif;
}

.responsive-heading {
    margin-bottom: 1rem;
    font-size: calc(1.75em + 1.5vw);
    line-height: 1.2;
}

.muted {
    color: variables.$low-contrast;
}

.bold {
    font-weight: bold;
}
