@use "../utilities/variables";

h1,
h2,
h3,
h4 {
    font-family: variables.$sans-serif;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.25em;
}

h3 {
    font-size: 1.875em;
}

h4 {
    font-size: 1.5em;
}

p {
    font-family: variables.$serif;
}

b {
    font-weight: variables.$font-bold;
}

.responsive-heading {
    margin-bottom: 1rem;
    font-size: calc(1.75em + 1vw);
    font-weight: variables.$font-extra-bold;
    line-height: 1.2;
}

.subtitle {
    margin-bottom: 0.8rem;
    font-family: variables.$sans-serif;
    font-size: 1.3em;
    font-weight: variables.$font-light;
    color: variables.$gray-400;
}

.meta {
    margin-bottom: 1rem;
    font-family: variables.$sans-serif;
    font-size: 1em;
    font-weight: variables.$font-regular;
    color: variables.$low-contrast;
}

.muted {
    color: variables.$low-contrast;
}

.bold {
    font-weight: bold;
}
