// COLORS

$primary-900: hsl(140, 52%, 90%);
$primary-800: hsl(140, 52%, 80%);
$primary-700: hsl(140, 52%, 70%);
$primary-600: hsl(140, 52%, 60%);
$primary-500: hsl(140, 52%, 50%);
$primary-400: hsl(140, 52%, 40%);
$primary-300: hsl(140, 52%, 30%);
$primary-200: hsl(140, 52%, 20%);
$primary-100: hsl(140, 52%, 10%);
$neutral-900: hsl(20, 13%, 90%);
$neutral-800: hsl(20, 13%, 80%);
$neutral-700: hsl(20, 13%, 70%);
$neutral-600: hsl(20, 13%, 60%);
$neutral-500: hsl(20, 13%, 50%);
$neutral-400: hsl(20, 13%, 40%);
$neutral-300: hsl(20, 13%, 30%);
$neutral-200: hsl(20, 13%, 20%);
$neutral-100: hsl(20, 13%, 10%);
$gray-900: hsla(0, 0%, 0%, 0.1);
$gray-800: hsla(0, 0%, 0%, 0.2);
$gray-700: hsla(0, 0%, 0%, 0.3);
$gray-600: hsla(0, 0%, 0%, 0.4);
$gray-500: hsla(0, 0%, 0%, 0.5);
$gray-400: hsla(0, 0%, 0%, 0.6);
$gray-300: hsla(0, 0%, 0%, 0.7);
$gray-200: hsla(0, 0%, 0%, 0.8);
$gray-100: hsla(0, 0%, 0%, 0.9);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$high-contrast: hsla(0, 0%, 0%, 0.8);
$low-contrast: hsla(0, 0%, 0%, 0.4);

// TEXT
$sans-serif: "Jost", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$serif: "Lora", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

$font-light: 300;
$font-regular: 400;
$font-bold: 600;
$font-extra-bold: 800;
