$primary-900: hsl(140, 52%, 95%);
$primary-800: hsl(140, 52%, 85%);
$primary-700: hsl(140, 52%, 75%);
$primary-600: hsl(140, 52%, 65%);
$primary-500: hsl(140, 52%, 55%);
$primary-400: hsl(140, 52%, 45%);
$primary-300: hsl(140, 52%, 35%);
$primary-200: hsl(140, 52%, 25%);
$primary-100: hsl(140, 52%, 15%);
$neutral-900: hsl(20, 13%, 95%);
$neutral-800: hsl(20, 13%, 85%);
$neutral-700: hsl(20, 13%, 75%);
$neutral-600: hsl(20, 13%, 65%);
$neutral-500: hsl(20, 13%, 55%);
$neutral-400: hsl(20, 13%, 45%);
$neutral-300: hsl(20, 13%, 35%);
$neutral-200: hsl(20, 13%, 25%);
$neutral-100: hsl(20, 13%, 15%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$high-contrast: hsl(0, 0%, 20%);
$low-contrast: hsl(0, 0%, 60%);
